.table {
  width: 100%;
  border-collapse: collapse;
}

.noWrap {
  white-space: nowrap;
}

.actionsCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.actionBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.fontMedium {
  font-weight: 500;
}
